In [13]:
# !pip install pandas

In [14]:
import pandas as pd
import os

In [15]:
df = pd.read_csv("./reutersData.csv")
df.head(1)

,Category,CategoryLink,Menus,Topics,topicLink,Title_x,ArticleLink,Title_y,Author,Date,Time,Image,Article
0,World,https://www.reuters.com/world/,/world/africa/,Africa,https://www.reuters.com/world/africa/,IMF sees Senegal 2023 growth lower than expect...,https://www.reuters.com/world/africa/imf-lower...,IMF sees Senegal 2023 growth lower than expect...,Reuters,"March 14, 2023",12:28 PM UTC,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."

# Data Cleaning

In [16]:
# concatenate Date and Time columns
datetime_str = df['Date'] + ' ' + df['Time']

# convert datetime string to datetime object
df['Date'] = pd.to_datetime(datetime_str, format='%B %d, %Y %I:%M %p %Z')
df.head(1)

,Category,CategoryLink,Menus,Topics,topicLink,Title_x,ArticleLink,Title_y,Author,Date,Time,Image,Article
0,World,https://www.reuters.com/world/,/world/africa/,Africa,https://www.reuters.com/world/africa/,IMF sees Senegal 2023 growth lower than expect...,https://www.reuters.com/world/africa/imf-lower...,IMF sees Senegal 2023 growth lower than expect...,Reuters,2023-03-14 12:28:00+00:00,12:28 PM UTC,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."

In [17]:
df = df[["Topics","Menus","Title_x","Author","Date","Image","Article"]]
df.head(1)

,Topics,Menus,Title_x,Author,Date,Image,Article
0,Africa,/world/africa/,IMF sees Senegal 2023 growth lower than expect...,Reuters,2023-03-14 12:28:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."

In [18]:
df = df.rename(columns={'Title_x': 'Title','Article':'Text','Author':'Authors','Image':'Images'})
df.head(1)

,Topics,Menus,Title,Authors,Date,Images,Text
0,Africa,/world/africa/,IMF sees Senegal 2023 growth lower than expect...,Reuters,2023-03-14 12:28:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."

In [19]:
# Remove duplicate rows
df = df.drop_duplicates()
df

,Topics,Menus,Title,Authors,Date,Images,Text
0,Africa,/world/africa/,IMF sees Senegal 2023 growth lower than expect...,Reuters,2023-03-14 12:28:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."
2,World,/world/africa/,"IMF lowers Senegal 2022 GDP estimate, sees 202...",Reuters,2023-03-14 12:28:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"DAKAR, March 14 (Reuters) - Growth in Senegal'..."
4,Africa,/world/africa/,Nigeria central bank says old naira notes stil...,Reuters,2023-03-14 08:47:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"ABUJA, March 13 (Reuters) - Nigeria's central ..."
6,World,/world/africa/,Nigeria central bank says old naira notes stil...,Reuters,2023-03-14 08:47:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"ABUJA, March 13 (Reuters) - Nigeria's central ..."
8,Africa,/world/africa/,Kenya signs oil deals with ADNOC and Saudi Ara...,Reuters,2023-03-14 08:41:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"NAIROBI, March 13 (Reuters) - Kenya has signed..."
...,...,...,...,...,...,...,...
1005,Clean Energy,/business/energy/,Energy crisis seen posing 'existential threat'...,Reuters,2022-10-03 17:45:00+00:00,NaN,"LONDON, Oct 3 (Reuters) - Europe's energy cris..."
1006,Clean Energy,/business/energy/,Reducing energy waste key to meeting climate g...,Gloria Dickie,2022-10-03 19:15:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,"LONDON, Oct 3 (Reuters) - Embracing decentrali..."
1007,Governance,/business/energy/,"Buying Uniper was 'a mistake', Finnish finance...",Anne Kauranen,2022-09-28 09:42:00+00:00,NaN,"HELSINKI, Sept 28 (Reuters) - Buying Germany's..."
1008,COVID-19,/business/healthcare-pharmaceuticals/,"Moderna to hire around 2,000 employees amid mR...",Reuters,2023-03-10 19:38:00+00:00,https://cloudfront-us-east-2.images.arcpublish...,March 10 (Reuters) - Moderna Inc (MRNA.O) said...
1009,Science,/lifestyle/science/,Relativity postpones Florida launch of 3D-prin...,Joey Roulette,2023-03-09 11:06:00+00:00,NaN,March 8 (Reuters) - California-based startup R...

In [12]:
df.to_csv('./CleanedreutersData.csv', index=False)